@use 'globals' as *;

#gallery {
	width: 100%;

	@include flexbox(row);

	img {
		width: 100%;
		height: auto;

		// <img> naturally have display: inline-block;
		// This causes a small gap at the bottom
		display: block;
	}
}


@media (max-width: 450px) {
	#gallery {

		aspect-ratio: 1/1;
		display: grid;
		grid-template-columns: repeat(2, 1fr);

		align-items: stretch;
		justify-content: stretch;
	}
}

@media (max-aspect-ratio: 87/53) {
	
}
