@use 'globals' as *;

$element-orders: (
	--transform-brand-text-order: 1,
	--transform-brand-image-order: 2,
	--standout-image-order: 3,
	--standout-text-order: 4,
	--graphic-design-order: 5,
	--photo-order: 6
);

#promote {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	width: 100%;

	$i: 0;
	@each $varname, $order in $element-orders {
		#{$varname}: $order;
		$i: $i + 1;

		& > :nth-child(#{$i}) {
			order: var(#{$varname});
		}	
	}
}

.cta-part-pic > img {
	width: 50vw;
	aspect-ratio: 6/5;
}

.cta-part-text {
	@include flexbox(column, center, flex-start);
	width: 100%;
	aspect-ratio: 6/5;
	//padding: 8rem 5rem 0rem 9.5rem;

	h2 {
		@include fancy-font;
		font-weight: 900;
		font-size: 250%;
		color: $dark-desaturated-blue;
	}

	p {
		margin: 0;

		@include body-copy();
		color: $dark-grayish-blue;
		line-height: 1.6rem;
	}

	a {
		padding: 0px;
		margin: 8% 0.5%;

		@include fancy-font();
		font-size: 1rem;

		color: $dark-desaturated-blue;

		&::after {
			content: '';
			opacity: 20%;

			display: block;

			width: 110%;
			height: 0.5rem;
			border-radius: 9999px;

			z-index: -1;

			position: relative;
			// That centering hack
			left: 50%;
			transform: translate(-50%, -75%);
		}

		&:hover {
			&::after { opacity: 100%; }
		}
	}
}


#transform-brand {
	padding: 0% 14.5% 0% 20%;
	a::after { background-color: $yellow; }
}

#stand-out {
	padding: 0% 20% 0% 14.5%;
	a::after { background-color: $soft-red; }
}

.services-part {
	width: 50vw;
	aspect-ratio: 6/5;
	padding: 6% 25%;

	@include flexbox(column, flex-end);

	text-align: center;
	line-height: 1.6rem;

	background-size: cover;
}

.services-title {
	@include fancy-font();
	font-size: 1.6rem;
	margin-bottom: 0.7rem;
}

.services-desc {
	font-size: 1rem;
}

#graphic-design-part {
	background-image: url("./images/desktop/image-graphic-design.jpg");

	p { color: $dark-desaturated-cyan }
}

#photography-part {
	background-image: url("./images/desktop/image-photography.jpg");

	p { color: $dark-blue }
}

@media (max-width: 1000px) and (min-width: 571px) {
	#promote {
		--transform-brand-text-order: 3;
		--transform-brand-image-order: 1;
		--standout-image-order: 2;
	}

	.cta-part-text {
		justify-content: space-around;
		height: auto;
	}

	.services-part {
		position: relative;
		justify-content: space-evenly;

		&::after {
			content: "";

			display: block;
			height: 100%;
			width: 100%;

			position: absolute;
			top: 0;

			background-color: white;
			opacity: 40%;
		}

		&>p { z-index: 1; }
	}
}

@media (max-width: 800px) and (min-width: 571px) {
	#promote {
		.services-part {
			padding: 1rem;
		}

		.cta-part-text {
			padding: 1rem;
		}
	}
}

@media (max-width: 570px) {
	#promote {
		@include flexbox(column);
		text-align: center;

		--transform-brand-text-order: 2;
		--transform-brand-image-order: 1;

		.cta-part-text {
			height: fit-content;
			padding: 2rem 1.5rem;

			align-items: center;

			p { line-height: 1.9rem; }
			h2 { font-size: 2rem; }
		}

		.cta-part-pic > img {
				width: 100%;
		}

		.services-part {
			width: 100%;
			aspect-ratio: 5/8;
			padding: 2.7rem 1.2rem;

			background-size: contain;
		}

		.services-title {
			font-size: 1.8rem;
		}
	}

	#graphic-design-part {
		background-image: url("./images/mobile/image-graphic-design.jpg");
	}

	#photography-part {
		padding: 0;
		background-image: url("./images/mobile/image-photography.jpg");
	}
}
