@use 'globals' as *;

@use 'landing-section';
@use 'promote-section';
@use 'testimonial-section';
@use 'gallery-section';
@use 'footer-section';

* {
	box-sizing: border-box;
}

p, a {
	@include body-copy;
	text-decoration: none;
}

picture {
	source {
		// Necessary to set its dimensions
		display: block;

		width: 0;
		height: 0;
	}

	img { display: block; }
}

html {
	width: 100%;
}

body {
	margin: 0;
}

.logo {
	width: 10rem;
}
