// Primary colors
$soft-red: hsl(7, 99%, 70%);
$yellow: hsl(51, 100%, 49%);
$dark-desaturated-cyan: hsl(167, 40%, 24%);
$dark-blue: hsl(198, 62%, 26%);
$dark-moderate-cyan: hsl(168, 34%, 41%);

// Neutral colors
$dark-desaturated-blue: hsl(212, 27%, 19%);
$extra-dark-grayish-blue: hsl(213, 9%, 39%);
$dark-grayish-blue: hsl(232, 10%, 55%);
$grayish-blue: hsl(210, 4%, 67%);
$white: hsl(0, 0%, 100%);

// Color that I somehow had to recover
$footer-cyan: #90D4C5;

@mixin body-copy {
	font-family: "Barlow", "sans-serif";
	font-size: 18px;
}

@mixin fancy-font {
	font-family: "Fraunces", "sans-serif";
	font-weight: 900;
}

* {
	box-sizing: border-box;
}

p, a {
	@include body-copy;
	text-decoration: none;
}

html {
	width: 100%;
}

body {
	margin: 0;
}

.logo {
	width: 10rem;
}

#landing-section {
	height: 100vh;

	background-image: url("images/desktop/image-header.jpg");
	background-size: cover;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

	padding-top: 2rem;
}

h1 {
	margin: 6.2rem 0px;

	@include fancy-font;
	font-size: 3.2rem;
	letter-spacing: 0.5rem;
	color: $white;
}

nav {
	width: 100%;

	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;

	padding-left: 2.2rem;
	padding-right: 1rem;

	.logo {
		justify-self: flex-start;
		margin-right: auto;
	}

	a {
		margin: 0px 1.5rem;
		color: $white;
	}

	button {
		border-radius: 99999px;
		border: none;

		font-size: 0.9rem;
		@include fancy-font;
		font-weight: 700;

		padding: 1.1rem 1.8rem;
		margin: 0px 1.5rem;

		background-color: $white;

		cursor: pointer;

		&:hover {
			background-color: rgba(255,255,255,25%);
			color: $white;
		}
	}
}

#promote {
	display: grid;
	grid-template-columns: auto auto;

	max-width: 100%;
}

.cta-part-pic > img {
	width: 50vw;
	height: 100%;
}

.cta-part-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	//padding: 8rem 5rem 0rem 9.5rem;

	h2 {
		margin-top: none;
		margin-right: 1rem;
		@include fancy-font;
		font-weight: 900;
		font-size: 2.4rem;
		color: $dark-desaturated-blue;
	}

	p {
		margin: 0;

		@include body-copy();
		color: $dark-grayish-blue;
		line-height: 1.6rem;
	}

	a {
		padding: 0px;
		margin: 2rem 0.5rem;

		@include fancy-font();
		font-size: 1rem;

		&::after {
			content: '';
			opacity: 20%;

			display: block;
			width: 110%;
			height: 50%;
			border-radius: 9999px;

			z-index: -1;
			position: relative;

			// That centering hack
			left: 50%;
			transform: translate(-50%, -75%);
		}

		&:hover {
			&::after { opacity: 100%; }
		}
	}
}


#transform-brand {
	padding: 0rem 5rem 0rem 9.5rem;
	a::after { background-color: $yellow; }
}

#stand-out {
	padding: 0rem 9rem 0rem 6rem;
	a::after { background-color: $soft-red; }
}

.services-part {
	width: 50vw;
	aspect-ratio: 6/5;

	padding: 2.3rem 10.5rem;

	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;

	text-align: center;
	line-height: 1.6rem;
}

.services-title {
	@include fancy-font();
	font-size: 1.6rem;
	margin-bottom: 0.7rem;
}

.services-desc {
	font-size: 1rem;
}

#graphic-design-part {
	background-image: url("./images/desktop/image-graphic-design.jpg");

	.services-title { color: $dark-desaturated-cyan }
}

#photography-part {
	background-image: url("./images/desktop/image-photography.jpg");

	.services-title { color: $dark-blue }
}

#testimonials {
	width: 100vw;
	height: 98vh;

	display: grid;
	grid-template-rows: auto 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 2.5rem;
	row-gap: 2rem;

	padding: 0px 7.5rem;
	padding-top: 10rem;

	h2 {
		grid-column: 1 / 4;
		text-align: center;

		height: fit-content;
		margin: 0;
	
		@include fancy-font();
		font-size: 1.1rem;
		letter-spacing: 0.4rem;
	}
}

.person-card {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

	line-height: 2rem;
	text-align: center;

	picture {
		transform: scale(50%);
	}

	img {
		clip-path: circle(50% at 50% 50%);
	}

	p:nth-of-type(1) {
		color: red;
		font-size: 1.1rem;

		margin-bottom: 4.5rem;
	}

	p:nth-of-type(2) {
		color: blue;
		@include fancy-font();

		margin: 0;
	}

	p:nth-of-type(3) {
		color: green;
		font-size: 0.8rem;

		margin: 0;
	}
}

#gallery {
	width: 100vw;
	height: 50vh;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	img {
		width: 25vw;
		height: auto;
	}
}

footer {
	width: 100vw;
	height: 50vh;

	background-color: $footer-cyan;

	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;

	#link-container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		width: 18rem;

		transform: translateY(-100%);
		
		a { color: $dark-moderate-cyan }
	}

	#social-media-container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		width: 10rem;
	}
}



#attribution {
	position: absolute;
	bottom: 0;
}
