// Primary colors
$soft-red: hsl(7, 99%, 70%);
$yellow: hsl(51, 100%, 49%);
$dark-desaturated-cyan: hsl(167, 40%, 24%);
$dark-blue: hsl(198, 62%, 26%);
$dark-moderate-cyan: hsl(168, 34%, 41%);

// Neutral colors
$dark-desaturated-blue: hsl(212, 27%, 19%);
$extra-dark-grayish-blue: hsl(213, 9%, 39%);
$dark-grayish-blue: hsl(232, 10%, 55%);
$grayish-blue: hsl(210, 4%, 67%);
$white: hsl(0, 0%, 100%);

@mixin body-copy {
	font-family: "Barlow", "sans-serif";
	font-size: 18px;
}

@mixin fancy-font {
	font-family: "Fraunces", "sans-serif";
	font-weight: 700;
}

* {
	box-sizing: border-box;
}

p, a {
	@include body-copy;
	text-decoration: none;
}

html {
	width: 100%;
}

body {
	margin: 0;
}

#landing-section {
	height: 100vh;

	background-image: url("images/desktop/image-header.jpg");
	background-size: cover;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

	padding-top: 2rem;
}

h1 {
	margin: 6.2rem 0px;

	font-family: "Fraunces", "sans-serif";
	font-weight: 900;
	font-size: 3.2rem;
	letter-spacing: 0.5rem;
	color: $white;
}

nav {
	width: 100%;

	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;

	padding-left: 2.2rem;
	padding-right: 1rem;

	#logo {
		justify-self: flex-start;
		margin-right: auto;
	}

	a {
		margin: 0px 1.5rem;
		color: $white;
	}

	button {
		border-radius: 99999px;
		border: none;

		font-size: 0.9rem;
		@include fancy-font;

		padding: 1.1rem 1.8rem;
		margin: 0px 1.5rem;

		background-color: $white;
	}
}


